/* Custom CSS */
.navbar-brand {
    font-size: 1.75rem;
    font-weight: bold;
}

.nav-link {
    font-size: 1.2rem;
    margin-right: 15px;
}

.btn-warning {
    font-weight: bold;
    padding: 10px 20px;
}

.btn-warning:hover {
    background-color: #e67e22;
    border-color: #e67e22;
}
