
.nav {
    background-color: black;
    position: fixed;
    top: -50px;
    width: 100%;
    transition: top 0.3s;
}
.nav a {
    float: left;
    color: white;
    display: block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: rgb(43, 25, 77);
    color: white;
}
.nav a.split {
    float: right;
    color: white;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
}