<!-- lets make it cook with some css it now 0036 -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/cashier/static/css/index.css">
    <link rel="stylesheet" href="">
    <title>Home</title>
 </head>
 <body>
    <div class="nav" id="nav" >
        <a href="">About Us</a>
        <a href="">Services</a>
        <a href="">Testimonials</a>
        <a href="">FAQs</a>
        <a href="">Blog</a>
        <a href="">Contact US</a>

        <a  href="" class="split" >Book Now</a>
        <a href="" class="split" >Get Support</a>
    </div>
    <br>
    <br>
    <a href="{% url 'manager_signup' %}">manager</a>
    <a href="{% url 'cashier_signup' %}">cashier</a>
    <br>
    <br>
    <br>
    <br>
    <h1>login bwana</h1>

    <a href="{% url 'custom_login' %}">login now </a>
    <script src="/cashier/static/js/index.js"></script> 
</body>
 </html>