<!-- websocket_app/templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>WebSocket Test</title>
</head>
<body>
    <h1>WebSocket Test</h1>
    <input id="messageInput" type="text" placeholder="Type a message...">
    <button id="sendMessage">Send</button>
    <ul id="messages"></ul>

    <script>
        const socket = new WebSocket('ws://localhost:8001/ws/transport_system/');

        socket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const message = data['message'];
            document.querySelector('#messages').innerHTML += '<li>' + message + '</li>';
        };

        document.querySelector('#sendMessage').onclick = function() {
            const messageInput = document.querySelector('#messageInput');
            const message = messageInput.value;
            socket.send(JSON.stringify({'message': message}));
            messageInput.value = '';
        };
    </script>
</body>
</html>
